body{
	font-family: Verdana, arial;
	background-color: #7fb0ff;
	margin: 20px 0 0;
}

.conteudo{
	width: 100%;
	margin: 0 auto;
}

nav{
	width: 100%;
	background-color: #7fb0ff;
	float: left;
}

nav ul{
	margin-left: 5px; 
}

nav h1{
	float: right;
	margin-right: 40px;
	margin-left: 15px;
	text-shadow:#fff 1px -1px, #fff -1px 1px, #fff 1px 1px, #fff -1px -1px
}

nav img{
	float: right;
}

nav ul li{
	display: inline;
	padding: 15px 10px;
	color: #fff;
	float: left;
}

ul li a{
	color: #fff;
	text-decoration: none;
}

ul li a:hover{
	text-shadow: 1px 1px #828282;
}

.principal{
	color: #000;
	width: 1100px;
	margin-left: 40px;
	background-color: #fff;
	padding-left:50px;
	padding-right: 50px; 
	float: left;
	margin-top: 40px;
}

.apresentacao h2{
	font-size: 32px;
	color:#7fb0ff;
	text-align: center;
}

.apresentacao p{
	font-size: 20px;
	text-align: center;
	color:#595959;
	padding-top: 30px;
	padding-bottom: 100px;
	padding-right: 100px;
	padding-left: 100px;
}

.quemSomos{
	float: left;
	margin-left: 30px;
	margin-top: 40px;
	padding: 50px;
	padding-top: 10px;
}

.quemSomos h2{
	text-align: center;
	font-size: 30px;
	color: #fff;
	text-shadow:#828282 1px -1px, #828282 -1px 1px, #828282 1px 1px, #828282 -1px -1px;
}

.desenvolvedor{
	float: left;
	width: 260px;
	padding: 55px;
	margin-bottom: 40px;
}

.desenvolvedor img{ 
	margin-left: 50px;
	border-radius: 50%;
	border:5px solid #fff;

}

.desenvolvedor p{ 
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #000;
	font-weight: bold;
	font-size: 18px;
}

.desenvolvedor address{ 
	text-align: center;
}


.software h2{
	text-align: center;
	font-size: 30px;
	color:#7fb0ff;
	padding-bottom: 34px;	
}

.tituloDemo{
	text-align: center;
	font-size: 30px;
	color: #fff!important;
	padding-bottom: 34px;	
	text-shadow:#828282 1px -1px, #828282 -1px 1px, #828282 1px 1px, #828282 -1px -1px;	
}

.explicacao{
	color: #000;
	width: 1100px;
	margin-left: 40px;
	background-color: #fff;
	padding-left:50px;
	padding-right: 50px;
	float: left;
	margin-top: 40px;
	font-size: 20px;
	color:#595959;
	margin-bottom: 80px;
	text-align: center;
}

.explicacao p:nth-child(2){
	text-align: left;
	margin-left: 20px;
}

.explicacao ul{
	margin-bottom: 50px;
	text-align: left;
}

.explicacao ul li{
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: bold;
	text-align: left;
}

.demo{
	margin-left: 95px;
	padding-top: 50px; 
}

.telas{
	float: left;
	margin-left: 70px;
	width: 440px;
	height: 450px;
	background-color: #fff;
	margin-bottom: 40px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

}

.telas:hover{
	transform: scale(1.05);
}

.telas img{
	margin-left: 21px;
	border: 1px solid #eee;
	margin-top: 10px;
}

.telas h3{
	text-align: center;
	color: #7fb0ff;
	font-size: 20px;
	text-shadow:#eee 1px -1px, #eee -1px 1px, #eee 1px 1px, #eee -1px -1px;
}

.telas p{
	text-align: center;
	color: #828282;
	font-size: 16px;
	padding-right: 10px;
	padding-left: 10px;
}

.manual{
	float: left;
	width: 100%
}

.manual h2{
	text-align: center;
	font-size: 30px;
	color: #fff;
	text-shadow:#828282 1px -1px, #828282 -1px 1px, #828282 1px 1px, #828282 -1px -1px;
	padding-top: 15px;
	padding-bottom: 10px;
}

.detalhes{
	color: #000;
	width: 1100px;
	margin-left: 40px;
	background-color: #fff;
	padding-left:50px;
	padding-right: 50px;
	padding-top: 30px; 
	float: left;
	margin-top: 40px;
	font-size: 20px;
	color:#595959;
	margin-bottom: 80px;
	text-align: center;
}

.detalhe:nth-child(even){
	width: 1100px;
	background-color: #eee;
	margin-left: 40px;
	padding-left:50px;
	padding-right: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.manual h2{
	background-color: #fff;
	margin-bottom: 0px;
	margin:0px 40px;
	color: #7fb0ff;
	text-shadow: none;
	padding: 32px;
}

.detalhe{
	width: 1100px;
	margin-left: 40px;
	background-color: #fff;
	padding-left:50px;
	padding-right: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
	float: left;
}

.detalhe img{
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border: 2px solid #000;
	float: left;
	margin-right: 40px;
}

.detalhe img:hover{
	box-shadow: 5px 5px 5px rgba(90, 90, 90, 0.18);
}

.detalhe p{
	padding: 40px;
	text-align: center;
	padding-left: 50px;
	margin-top: 70px;
	font-size: 20px;

}

.contato{
	color: #000;
	width: 1100px;
	margin-left: 40px;
	background-color: #fff;
	padding-left:50px;
	padding-right: 50px;
	float: left;
	margin-top: 40px;
	color:#595959;
}

.contato h2{
	text-align: center;
	font-size: 30px;
	color:#7fb0ff;
	padding-bottom: 34px;	
}

input{
	height: 20px;
	width: 200px;
	margin-bottom: 10px;
}

label{
	width: 150px;
	display: block;
	float: left;
	text-align: right;
	margin-right: 10px;
}

.tituloTextarea{
	width: 200px;
	float: left;
	margin-top: 30px;
}

textarea{
	margin-top: 30px;
}

.btn{
	margin-top: 10px;
	float: right;
}

input[type="submit"]{
	width: 150px;
	height: 30px;
	background-color: #7fb0ff;
	color: #fff;
	font-size: 16px;
	margin-left: 140px; 
	border: 1px solid #000;
	margin-bottom: 30px;
}


.rodape{
	float: left;
	width: 100%;
	text-align: center;
	background-color: #33486b;
	color: #fff;
	font-size: 15px;
}

.rodape p a{
	text-decoration: none;
	color: #fff;
}

.rodape p a:hover{
	color: #7fb0ff;
}



